:root {
  --primary-color: #5ea9db;
}
body {
  background: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
}

.navbar {
  background: linear-gradient(#38627f, 5%, #fff, 15%, #5ea9db, 90%, #fff, 95%, #38627f);
  height: auto;
  margin-bottom: 30px;
}

.navbar-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-image {
  max-height: 80px;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.nav-menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}

.link-box-a {
  color: white;
}

.link-box {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  border-radius: 10px;
}

.link-box:hover {
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-color 0.3s ease-in-out;
  background-color: rgba(59, 124, 165, 0.4);
}

.super-heading {
  text-transform: uppercase;
  letter-spacing: 2px;
}

.heading {
  font-size: 38px;
}

.hero-image {
  max-width: 100%;
}

.projects {
  background-color: #111;
}

.secondary-heading {
  font-size: 32px;
}

.collection-wrapper {
  margin: 60px 0;
}

.collection-item {
  display: grid;
  grid-template-columns: 0.75fr 1fr;
  margin-bottom: 30px;
}

.collection-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: darkmagenta;
  padding: 20px;
}

.item-description {
  text-align: justify;
}

.item-link {
  align-items: flex-end;
}

.item-link a {
  color: white;
}

.item-image {
  max-width: 100%;
}

.contact-form {
  background-color: bisque;
  width: 70%;
  margin: 0 auto;
}

.email-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  padding: 20px;
  width: 100%;
}

.form-item-container {
  color: black;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-weight: 600;
  letter-spacing: 2px;
}

.grid-input, .message {
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;
  color: black;
}

.message-container {
  width: 100%;
}

.message {
  resize: none;
  height: 150px;
}

.success-message, .error-message {
  display: none;
  color: darkred;
  text-align: center;
}

.button {
  padding: 10px;
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 20px 0;
  cursor: pointer;
}

.submit {
  background-color: var(--primary-color);
}

.error-message {
  color: red;
}

footer {
  background-color: var(--primary-color);
  color: black;
  margin-top: 60px;
}

.footer-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0;
}

.footer-projects-container, .social-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  margin: 20px 0;
}

.project-title {
  color: black;
  font-weight: 600;
  padding: 10px;
}

.social-container {
  background-color: rgb(27, 112, 84);
  border-radius: 10px;
  padding: 10px;
}
